{% extends 'layout.html' %}

{% block title %}
    <title>Search Results</title>
{% endblock %}

{% block content %}
<h1 class="mt-4 text-center">Search Results:</h1>
    {% for tweet in allposts %}
    <div class="card" style="width: 18rem;">
        {% if tweet.photo %}
        <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Tweet photo">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ tweet.user.username }}</h5>
            <p class="card-text">{{ tweet.text }}</p>
            {% if tweet.user == request.user %}
            <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
